
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
#home{
    width: 100%;
    height: 100vh;
    background-color:#76BA99 ;
    color: black;
    position: relative;
    display: inline-flex;
}

#portfolio{
   font-size: xx-large;
   color: black;
}
.left-container-home{
    width: 60%;
    height: 100%;
    color: black;
    background-color:#76BA99;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-container-home{
    background-color: #76BA99;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.photo-conatiner-home{
    margin-right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border-radius: 50%; */
}
@keyframes base{
    0% {
        top: 0px;
    }
    50%{
        top: 30px;
    }
    100% {
        top: 0px;
    }
    
}

#photo-home{
    height: 400px;
    width: 400px;
    border-radius:50%;
}

.textbox{
    position: relative;
    right: 50px;
    width: 50%;
    margin: 0%;
}

.my-name{
     animation: text 12s infinite ease-in-out;
}
@keyframes text {
    0%{
        background: linear-gradient(to right, #f32170, #ff6b08);
         -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    50%{
        background: linear-gradient(to right, #ff6b08 ,#cf23cf);
         -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100%{
        background: linear-gradient(to right,#cf23cf,#f32170);
         -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}


.icons{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
   display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin: 10px;

}
.icons:hover{
    background-color:#0077C0;
    color:black;
    transition: 100ms ease-in-out;
    
}
.navlink{
    padding: 20px;
}

/* about */

#about{
    width: 100%;
    height: 100vh;
    background-color:  #E5F9DB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme{
    position: relative;
    left: 40%;
    bottom: 5vh;
}
.container-about{
    height: 500px;
    width: 90%;
    background-color:#76BA99;

    display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.container-inner-about{
    width: 80%;
    line-height: 2rem;
    color: black;
    mix-blend-mode: hard-light;
    font-size: larger;
    font-weight: 450;
    border-radius: 10px;
}

/* skills */

#skills{
    height: 100vh;
    width: 100%;
    background-color:#76BA99 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-container-skills{
    width: 80%;
    height:auto;
    color: black;
}
.skills-title{
    text-align: center;
    color: black;

}
.progress-bar{
    animation: sliding 2s  ease-in-out ;
    position: relative;
}
@keyframes sliding {
    0%{
        width: 0%;
    }
    100%{
        
    }
}

/* projects */

#Projects{
    height: 80vh;
    width: 100%;
    background-color:#E5F9DB;
    display: flex;
    align-items: center;
    justify-content: center;
}
#projects-title{
  color: black;
  text-align: center;
  padding-top: 25px;

}
.inner-inner{
    width:100%;
    text-align: center;
}
.inner-container-projects{
     height: 60vh;
     width: 80%;
     border-radius: 30px;
     position: relative;
     top: 5%;
     background-color: #76BA99;
     display: inline-flex;
     align-items: center;
     justify-content: center;
}
.col{
    width: calc(100%/2%);
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-holder{
    width: 60%;
    height: 75%;
    background-color: #617A55;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    border: solid 1px black;
}
.project-holder:hover{
    width: 80%;
    height: 95%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
.prj-img{
    width: 100%;
    height: 50%;
}
.project-holder p{
    font-size: small;
}
.prj-icn{
    position: relative;
    bottom: 15px;
}

/* footer */

.footer-inner{
    height: 10vh;
    font-size: large;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color:#76BA99;
    color:#E5F9DB;
}
.footer-inner{
    width:70%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: black;
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E5F9DB;
}

/* mobile */

@media screen and (max-width: 600px) {

/* home */

#home{
    width: 100%;
}
.left-container-home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.textbox{
    width: 80vw;
    position: relative;
    left: 4%;
}

.photo-conatiner-home{

}
.right-container-home{
 display: none;
}
/* about */
#about{
    height: auto;
}
.container-inner-about{
    font-size: medium;
    height: auto;
}
.aboutme{
    position: relative;
    left: 30%;
}
.container-about{
  margin-top: 10%;
  margin-bottom: 10%;
}

/* projects */
#Projects{
    height: auto;
}
.inner-container-projects{
    display: block;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left :10%;
}

 /* footer*/
.footer-inner{
    font-size: small;
    width: 90%;
}
    
}